@import "semantic-ui";
html, body{
   background-image: none;
}
.historia{
    text-align: left;
    margin-top: 50px;
}

#menu-sup, #men{
    background-color: black;
    height: 40px;
    width: 100%;
    text-align: center;
  }