@import "semantic-ui";
html, body{
   background-image: none;
}


#menu-sup, #men{
    background-color: black;
    height: 40px;
    width: 100%;
    text-align: center;
  }
#caja{
    margin-top: 40px;
}