@import "semantic-ui";
html, body{
   background-image: none;
}


#menu-sup, #men{
    background-color: black;
    height: 40px;
    width: 100%;
    text-align: center;
  }
#imag{
    margin-top: 60px;
    align-content: center;
    align-items: center;
    text-align: center;
}