@import "semantic-ui";
#menu-sup, #men{
    background-color: black;
    height: 40px;
    width: 100%;
    text-align: center;
  }
#imgn{
    margin-top: 70px;
    text-align: center;
}
@media screen and (max-width: 680px){ /* pantalla */
    #menu-sup, #menu{
        
        background-color: black;
        height: 220px;
        
    }
    img{
        width: 350px;
        height: 200px;
    }

}